body {
    background-color: brown;
}

.box {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 5px;
}

@media (max-width: 500px) {
    .container {
        display: flex;
    }
}

@media (width > 500px) and (width < 800px) {
    
}

@media (min-width: 800px) {
    body{
        background-color: green;
    }
}