.container {
    border: 1px solid green;
    position: relative;
    height: 2000px;
}

.box1{
    background-color: red;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px;
    position: relative;
    top: 0px;
}

.box2 {
    background-color: green;
    position: absolute;
    top: 30px;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.box3 {
    position: fixed;
    top: 20px;
    right: 30px;
    background-color: blue;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px;
}

.box4 {
    position: sticky;
    top: 0px;
    right: 30px;
    background-color: greenyellow;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px;
}